<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--traigo el css-->
    <link rel="stylesheet" href="/css/styles.css">
<!--traigo los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        
<!--traigo las fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

<!--lo hago responsive-->
<meta name="viewport" content="width=device-wid ht, initial-scale=1">

</head>
<body>
       
    <header>
        <div class="top">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo">
    
        <div>
    <buscador>
            <input type="text" placeholder="Buscar productos y marcas"> 
            <i class="fas fa-search"></i>
        </input>
    
        </div>
   
        
            
       
    </buscador>
    
        <h5><p> <i class= "fas fa-hand-holding-usd" ></i> Comprá en cuotas y sin tarjeta de crédito</p></h5> 
        </i>
        </div>

        <ul>
            <li><a href="#numeralOfertas">Ofertas</a></li>
            <li><a href="#TiendasOficiales">Tiendas Oficiales</a></li>
            <li><a href="#Vender">Vender</a></li>
            <li><a href="#Ayuda">Ayuda</a></li>
        
    
   
        <li><a href="/register">Crea tu cuenta</a> <i class="far fa-id-card"></i>
    
        <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        
    
        
        <li><a href="MisCompras"> Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        
    
        
    </ul>

        <div class="menu">
            <i class="fas fa-bars"></i>
            </div>
        
    </header>

    <main> 
        
    <div>
        <img class="imag" src="/images/img-home-banner.jpg" alt="Banner">
        <h3> Basado en tu última visita</h3>
        <article>
            <img class="imag" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
            <div class=descripo>
            <i id="truck" class="fas fa-truck"></i>
            <p>$6.770 </p> <li>40% OFF</li>
            
            <strong> Cafetera Moulinex</strong>
            </div>
        </caja>

        </article>

        <article>
            <img class="imag" src="/images/img-macbook-pro-2019.jpg" alt="imagen de la MacBook">
            <div class=descripo>
            <i id="truck" class="fas fa-truck"></i>
            <p>$230.000</p>
            <li> 20% off</li>
            <strong> MacBook Pro 2019 </strong>
        </div>
        </article>
    
        <article>
            <img class="imag" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung galaxy">
            <div class=descripo>
            <i id="truck" class="fas fa-truck"></i>
            <p>$70.500</p>
           <li> 10% off</li>
            <strong> Samsung Galaxy S10</strong>
        </div>
        </article>



        <article>
            <img class="imag" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
            <div class=descripo></div>
            <i id="truck" class="fas fa-truck"></i>
            <p>$23.200</p>
           <li> 5% off</li>
            <strong> SmartTv Samsung 43"</strong>
        </div>
        </article>

        <br>

    <h3> Ofertas</h3>
        <article>
        <img class="imag" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
        <div class=descripo> 
        <i id="truck" class="fas fa-truck"></i>
        <precios><p>$6.770 </p> </precios>
        <li>40% OFF</li>
        <strong> Cafetera Moulinex</strong>
        </div>

        </article>

        <article>
        <img class="imag" src="/images/img-macbook-pro-2019.jpg" alt="imagen de la MacBook">
        <div class=descripo>
        <i id="truck" class="fas fa-truck"></i>
        <p>$230.000</p>
        <li> 20% off</li>
        <strong> MacBook Pro 2019 </strong>
    </div>
        </article>

        <article>
        <img class="imag" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung galaxy">
        <div class=descripo>
        <i id="truck" class="fas fa-truck"></i>
          <p>$70.500</p>
        <li> 10% off</li>
         <strong> Samsung Galaxy S10</strong>
        </div>
        </article>

        <article>
        <img class="imag" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
        <div class=descripo>
        <i id="truck"class="fas fa-truck"></i>
        <p>$23.200</p>
       <li> 5% off</li>
        <strong> SmartTv Samsung 43"</strong>
    </div>
        </article>

    </div>
    
    
    
    
    </main>

<br>

    <footer> 
        
        <pie> 
            <div class="finalblock"></div>
            <i id="icons" class="fas fa-credit-card"></i>

         <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin</p>
        <p> interés con tarjeta o efectivo en puntos de</p>
        <p>pago. ¡Y siempre es seguro!</p>
    </div>


    <div class="finalblock">
            <i id="icons"  class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre </p>
            <p> tenés envíos gratis en miles de productos. Es</p>
            <p>  un beneficio de Mercado Puntos.</p>
        </div>

        <div class="finalblock">
            <i id="icons" class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
            <p>  no hay nada que no puedas hacer,porque </p>
            <p>estás siempre protegid@..</p>
        </div>

      
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.n</h6>
            


        
    
    </footer>
    

</body>
</html>


