<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!--traigo el css-->
     <link rel="stylesheet" href="/css/login.css">
     <!--traigo los iconos-->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
             
     <!--traigo las fuentes-->
         <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
     
     <!--lo hago responsive-->
     <meta name="viewport" content="width=device-wid ht, initial-scale=1">
</head>
<body>

    <form action="resultado.html" method="POST"></form>

    <p>
     
        <input type="text" name="nombreUsuario" placeholder="Nombre de Usuario" required>
      </p>

    <p>
   
        <input type="password" name="password" placeholder="Contraseña" required>
      </p>

      <button type="submit">Enviar</button>
</body>
</html>